<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>
<div class='main-content'>
    {{> header }}
    <img class='profile' src="/img/pic1.png" alt="profile" />
    <p>Currently trainee at Simform Solutions.</p>

</div>

{{> footer }}