<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
</head>
<div class='main-content'>
    {{> header }}
    <p>This is some text which might help you.</p>
</div>
{{> footer }}